<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ2oVKyCx2HO3_hWk94T64EdwKd5rK4jk</string>
	<key>GCM_SENDER_ID</key>
	<string>134722173407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CuongDD.MyShop</string>
	<key>PROJECT_ID</key>
	<string>myshop-561af</string>
	<key>STORAGE_BUCKET</key>
	<string>myshop-561af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134722173407:ios:6098f04752343f2358ec6a</string>
	<key>DATABASE_URL</key>
	<string>https://myshop-561af-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>